DB_HOST=dbhost
DB_NAME=dbname
DB_USER=rootuser
DB_PASS=id2j98dj123djw7d88
DJANGO_SECRET_KEY=06dosrqd-6NNn8JKt-093TvFrBfSlY0-YMS4AG5fyygDrm5zokk3ciK5KNSwUlpkI2o
DJANGO_ALLOWED_HOSTS=127.0.0.1,0.0.0.0
APP_EMAIL=contato@email.com.br
APP_DOMAIN=dominio.com.br
## Configuração do e-mail
APP_EMAIL_USE_TLS=1
APP_EMAIL_HOST=smtp.googlemail.com
APP_EMAIL_PORT=587
APP_EMAIL_HOST_USER=contato@email.com.br
APP_EMAIL_HOST_PASSWORD=abc123
APP_DEFAULT_FROM_EMAIL=contato@email.com.br
APP_DEFAULT_TO_EMAIL=DjangoAPI
APP_EMAIL_DEFAULT=contato@email.com.br
APP_AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
APP_AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
APP_AWS_STORAGE_BUCKET_NAME=django-static
APP_AWS_S3_REGION_NAME=us-east-1
APP_AWS_CLOUDFRONT_CUSTOM_DOMAIN=cloudfront.net